# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
.vite/
*.tsbuildinfo

# Storage & Data
storage_data/
*.enc
email_usage.json

# Sensitive/Large Files
AWSCLIV2.pkg
.env
.env.local
.env.*.local

# IDEs & OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pino.log
.env
AWSCLIV2.pkg
